html {
  background: url('/images/stardust.png') repeat;
}

body {
  width:100%;
  font-family: 'Muli', sans-serif;
  margin-top: -20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Londrina Solid', cursive;
  color: white;
}

h2 {
  text-align: center;
  font-size: 100px;
}

.main-container{
  width:100%;
  position:relative;
}

.contentContainer {
  width:60%;
  margin: 0 auto;
}

th {
  text-align: left;
}

.loginError {
  text-align: center;
  color: white;
  font-size: 25px;
  margin-top: -60px;
}

.hide {
  display:none;
}

.show {
  display: inline-block;
}

.exit {
  float:right;
  padding:5px 10px;
  border: 1px solid white;
  margin-right: -20px;
}
