<link rel="stylesheet" href="/css/header.css">

<nav>
  <div class="brand">In The Buff</div>
  <ul class="navBar">
    <% if logged_in? %>
      <li class="heading"><a href="#stats">View Stats</li>
      <li class="heading"><a href="/logout">Logout</a></li>
    <% end %>
  </ul>
</nav>

