<link rel="stylesheet" href="/css/header.css">

<nav>
  <div class="brand">The Big Reveal</div>
  <ul class="navBar">
    <li class="heading">Hi, Dani</li>
    <li class="heading"><a href="#stats">View Stats</li>
    <li class="heading"><a href="/logout">Logout</a></li>
  </ul>
</nav>
