<link rel="stylesheet" href="/css/stats.css">
<div class="statsBar">
  <a href="#close">X</a>
  <div class="header">
    <h2>The Stats</h3>
    <p>You've Played: <scan>31</scan> Rounds</p>
    <p>You've Completed: <scan>14</scan> Rounds</p>
  </div>
  <div class="toStudy">
    <h3 class="title">Study</h3>
    <p class="deckTitle">Deck Title</p>
    <p><scan>25</scan>/<scan>56</scan> Correct Guesses</p>
    <hr>
    <p class="deckTitle">Deck Title</p>
    <p><scan>25</scan>/<scan>56</scan> Correct Guesses</p>
    <hr>
    <p class="deckTitle">Deck Title</p>
    <p><scan>25</scan>/<scan>56</scan> Correct Guesses</p>
  </div>
  <div class="youKnow">
    <h3 class="title">Remember</h3>
    <p class="deckTitle">Deck Title</p>
    <p><scan>25</scan>/<scan>56</scan> Correct Guesses</p>
    <hr>
    <p class="deckTitle">Deck Title</p>
    <p><scan>25</scan>/<scan>56</scan> Correct Guesses</p>
    <hr>
    <p class="deckTitle">Deck Title</p>
    <p><scan>25</scan>/<scan>56</scan> Correct Guesses</p>
  </div>
</div>
