<link rel="stylesheet" type="text/css" href="/css/game.css">

<div class="contentContainer">
  <div id="score">
    <h2>Total Correct: <%= @round.correct_guesses %>/<%= @round.cards.count %></h2>
  </div>
  <div class="game">
    <div class="question">
      <p><%= @card.hint %></p>
    </div>
    <form action="/rounds/:round_id" method="post">
      <input id="answer" type="text" name="answer" placeholder="Answer">
      <input type="submit" class="button" name="submit" value="Submit">
    </form>
  </div>
</div>

