
<link rel="stylesheet" type="text/css" href="/css/deck.css">

<div class="contentContainer">
  <h2>Choose A Deck </h2>
  <% @decks.each do |deck| %>
      <form action="/decks" method="post">
        <input type="hidden" name="deck[id]" value="<% deck.id %>">
        <input class="deck" type="submit" value="<%= deck.name %>" name="submit">
      </form>
  <% end %>
</div>
