<link rel="stylesheet" type="text/css" href="/css/deck.css">

<div id="container">
  <div id="upper">
    <% @decks.each do |deck| %>
      <form action="/decks" method="post">
        <input type="hidden" name="deck[id]" value="<% deck.id %>">
        <input type="submit" class='btn' value="<%= deck.name %>" name="submit">
      </form>
    <% end %>
  </div>
</div>
