<head>
  <link rel="stylesheet" type="text/css" href="../../public/css/flow.css">
</head>

<html>

    <header>
      <h1> Let's Play....The Big Reveal!!!</h1>
    </header>
  <div id="container">
    <form id="login" action="###login###" method="POST">
      <input id="username" type="text" name="user[name]" placeholder="Username"><br>
      <input id="password" type="password" name="user[password" placeholder="Password">
      <input class="button" type="submit" value="Login">
      <a herf="/create"><button class="button">Sign Up</button></a>
    </form>



  </div>




</html>
