<head>
  <link rel="stylesheet" type="text/css" href="../../public/css/game.css">
</head>
<html>

  <div id="container">
    <div id="score">
      Total Correct: ###/###
    </div>

    <div class="game">
      <div id="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
      <div id="answer">
        <input id="answer" type="text">
      </div>
    </div>

    <div id="button_row">
      <a herf="###"><button class="button">Cheat</button></a>
      <a herf="###"><button class="button">Answer</button></a>
      <a herf="###"><button class="button">Skip</button></a>
    </div>
  </div>



</html>




