
<link rel="stylesheet" type="text/css" href="/css/flow.css">

<header>
  <h1>Play In the Buff!</h1>
</header>
<div id="container">
  <form id="login" action="/login" method="POST">
    <input id="username" type="text" name="user[email]" placeholder="Email"><br>
    <input id="password" type="password" name="user[password]" placeholder="Password">
    <input class="button" type="submit" value="Login">
    <a href="/users/new"><button class="button">Sign Up</button></a>
  </form>
</div>
