
<link rel="stylesheet" type="text/css" href="/css/form.css">

<div class="contentContainer">
  <h2>Play In The Buff</h2>
  <div class="form">
    <form action="/login" method="POST">
      <input class="formInput" type="text" name="user[email]" placeholder="Email"><br>
      <input class="formInput" type="password" name="user[password]" placeholder="Password">
      <input class="button" type="submit" value="Login">
    </form>
    <a href="/users/new"><button class="button">Sign Up</button></a>
  </div>
</div>
